{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, height=device-height initial-scale=1">
<link rel="stylesheet" href="{% static 'criminal/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'criminal/css/bexar.css' %}">
<link rel="stylesheet" href="{% static 'criminal/css/jquery-ui.theme.css' %}">
<link rel="stylesheet" href="{% static 'criminal/css/jquery-ui.structure.css' %}">
<link rel="stylesheet" href="{% static 'criminal/css/jquery-ui.css' %}">
<script src="{% static 'criminal/js/jquery.js' %}" ></script>
<script src="{% static 'criminal/js/bootstrap.bundle.js' %}" ></script>
<script src="{% static 'criminal/js/jquery-ui.js' %}" ></script>
{% block extra_headers %}{% endblock %}
{% block embed_javascript %}{% endblock %}

<title>{% block title %} Base Title {% endblock %}</title>
</head>
<body>
<div class="container">
  <div class="navbar">{% include 'criminal/navbar.html' %}</div>
  <div class="maincontent"> {% block maincontent %}{% endblock %}</div>
</div>
{% block errors %}{% endblock %}
</body>
</html>
