<script type="text/javascript">
$(document).ready(function () {
   {% for input_id in datepickers %}
       $("{{ input_id }}").datepicker({'dateFormat':'yy-mm-dd',
                                       'changeYear':'true',
                                       'changeMonth':'true',
                                       'constrainInput':'false',
                                       'hidePrevNext':'true',
                                       'yearRange':"1890:" + new Date().getFullYear().toString()});
   {% endfor %}
});


</script>
