{% extends 'criminal/base.html' %}
{% block title %} Criminal Search {% endblock %}
{% block maincontent %} 
<p>Criminasl search</p>

<form action="/criminal/search/" method="post">
{% csrf_token %}
  <table>
    {{ search_form.as_table }}
  </table>
<input type="submit" value="submit">
</form>
{% if criminals %}
<table class="table table-striped">
  <caption> {{ n_criminals }} found </caption>
  <thead class="thead-dark"
  <tr>
    <th scope="col">Full Name</th>
    <th scope="col">Sex</th>
    <th scope="col">Birthdate</th>
    <th scope="col">Sid</th>
  </tr>
  </thead>
  {% for criminal in criminals %}
  <tbody>
  <tr>
    <th scope="row">{{ criminal.full_name }}</td>
    <td>{{ criminal.sex }}</td>
    <td>{{ criminal.birthdate }}</td>
    <td><a href="/criminal/criminal/{{ criminal.sid }}/">{{ criminal.sid }}<a/></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
